.todoSearcher__container {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
}

.todoSearcher__input {
    outline: none;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 25%;
    margin: 0 auto;
}